<a href="/all_contacts">&lt; All Contacts</a>
<hr>

<h1>Viewing <%= "#{@user.first_name} #{@user.last_name}".capitalize %></h1>

<p class="bg-success">Email: <%= @user.email %></p>

<p>Message: <%= @user.message %></p>

<p class="<%= @user.urgent ? 'bg-danger' : 'bg-success' %>">Urgent: <%= @user.urgent ? "Yes" : "No" %></p>

<% label_map = {"technical" => "label-info", "marketing" => "label-success", "sales" => "label-warning"} %>
<p class="label <%= label_map[@user.department] %>">
 Department: <%= @user.department  %>
</p>
